<div>
  <h1>
    <%= markdown(@wiki.title) %> <br>
  </h1>
  <small>
       submitted <%= time_ago_in_words(@wiki.created_at) %> ago
  </small>
  <p> Private? <%= @wiki.private %> </p>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div class="col-md-4">
     <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
     <%= link_to "Delete Jiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
  </div>
  <div class="col-md-8">
  <% if current_user.premium? || current_user.admin? %>
  <h4> Collaborators </h4>
  <% @wiki.collaborators.each do |c| %>
    <% user = User.find(c.user_id) %>
    <%= user.email %>
  <% end %>
  <% end %>
  </div>


</div>